.btn {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 213px;
  height: 54px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 27px;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 54px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.btn:hover {
  transform: scale(1.02);
}
.btn--more {
  margin: 0 auto;
  color: $brown;
  background-color: $white;
}
