header {
  padding-top: 100px;
  background: url(../img/header-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 1320px;
  font-family: $font-primary;
  text-align: center;
  color: $white;
  @include breakpoint($xsmall) {
    padding-top: 120px;
  }
  @include breakpoint($small) {
    padding-top: 300px;
  }
  @include breakpoint($medium) {
    padding-top: 400px;
  }
  @include breakpoint($large) {
    padding-top: 450px;
  }
}
.header__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 300;
  text-shadow: $text-shadow;
  line-height:1;
  @include breakpoint($xsmall) {
    font-size: 48px;
  }
  @include breakpoint($small) {
    font-size: 56px;
  }
  @include breakpoint($medium) {
    font-size: 64px;
  }
  @include breakpoint($large) {
    line-height: 0.6666;
    font-size: 72px;
  }
}
.header__subtitle {
  margin: 0;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  text-shadow: $text-shadow;
  line-height: 1;
  @include breakpoint($small) {
    margin-bottom: 100px;
    font-size: 26px;
  }
  @include breakpoint($medium) {
    font-size: 30px;
  }
  @include breakpoint($large) {
    line-height: 0.6666;
  }
}
