html {
  @include global-box-sizing(border-box);
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-secondary;
  font-size: 15px;
  line-height: 1.6;
  color: $color-main;
  background-color: $color-bg;
}
.container {
  position: relative;
  @include container(90%);
  @include gutters(20px);
  @include breakpoint($medium) {
    @include container(768px);
  }
  @include breakpoint($large) {
    @include gutters(30px);
    @include container(992px);
  }
  @include breakpoint($xlarge) {
    @include container(1200px);
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
