$susy: (
  columns: 12,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$xsmall: 'screen' 480px;
$small: 'screen' 600px;
$medium: 'screen' 768px;
$large: 'screen' 992px;
$xlarge: 'screen' 1200px;

$font-primary: 'Roboto Slab', serif;
$font-secondary: 'Roboto', sans-serif;

$color-main: #31353e;
$color-bg: #edeff1;
$brown: #612316;
$dark: #191b29;
$orange: #dd4b2b;
$light-orange: #d75d0e;
$white: #fff;
$fiord: #4b4e73;
$light-grey: #f3f4f6;

$text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.85);
