$susy: (
  columns: 12,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$small: 'screen' 480px;
$medium: 'screen' 768px;
$large: 'screen' 992px;
$xlarge: 'screen' 1200px;

$font-primary: 'Roboto Slab', serif;
$font-secondary: 'Roboto', sans-serif;

$color-main: #31353e;
$color-bg: #edeff1;
$brown: #612316;
$orange: #dd4b2b;
$white: #fff;
$fiord: #4b4e73;
